# Fixa a versão do lxml para compatibilidade com Odoo 16
lxml<5.0.0
# Dependencias da localização brasileira
erpbrasil.base>=2.3.0
erpbrasil.assinatura>=1.7.0
erpbrasil.transmissao>=1.1.0
erpbrasil.edoc>=2.5.2
pyOpenSSL==22.1.0
brazilcep
email-validator
nfelib<=2.0.7
workalendar